{% extends 'base.html' %}

{% block pagetitle %}
    Stored websites
{% endblock %}

{% block title %}
    <h1>Stored websites</h1>
{% endblock %}

{% block content %}
    {% for website in websites %}
        <a href="{{ website.get_absolute_url }}"><h3>{{ website.name }}</h3></a>
        <ul>
            <li>{{ website.url }}</li>
            {% if website.description %}
                <li>{{ website.description }}</li>
            {% endif %}
        </ul>
        <br>
    {% endfor %}
{% endblock %}