{% extends 'base.html' %}

{% block pagetitle %}
    Credentials Detail
{% endblock %}

{% block title %}
    <h1>Credentials Detail</h1>
{% endblock %}

{% block content %}
   <h3>Credentials For <em>{{ credential.website}}</em> </h3> 
   <ul>
        <li>Username: {{ credential.username }}</li>
        {% if credential.user.website.name %}
            <li>Website name: {{ credential.website.name }}</li>
        {% endif %}
        <li>Website URL: {{ credential.website.url }}</li>
        <li>Added on: {{ credential.added_on }}</li>
        {% if credential.modified_on %}
            <li>Last mofified: {{ credential.last_modified }}</li>
        {% endif %}
   </ul>
{% endblock %}