{% extends 'base.html' %}

{% block pagetitle %}
    Credentials Detail
{% endblock %}

{% block title %}
    <h1>Credentials Detail</h1>
{% endblock %}

{% block content %}
    <a href="{% url 'home' %}">Home</a> /
    <a href="{% url 'credential_list' %}">Credentials</a> /
    Credentials for {{ credential.website.name }} /
    <br>
    <br>

   <ul>
        <li>Username: {{ credential.username }}</li>
        <li>Password: {{ credential.password }}</li>
        {% if credential.website.name %}
            <li>Website name: {{ credential.website.name }}</li>
        {% endif %}
        <li>Website URL: {{ credential.website.url }}</li>
        <li>Added on: {{ credential.added_on }}</li>
        {% if credential.modified_on %}
            <li>Last mofified: {{ credential.last_modified }}</li>
        {% endif %}
   </ul>
{% endblock %}