{% extends 'base.html' %}

{% block pagetitle %}
    Saved Credentials
{% endblock %}

{% block title %}
    <h1>Saved Credentials</h1>
{% endblock %}

{% block content %}
    <a href="{% url 'home' %}">Home</a> /
    <a href="{% url 'credential_list' %}">Credentials</a> /
    <br><br>
        {% for credential in credentials %}
            <a href="{{ credential.get_absolute_url }}"><H3>Credential for {{ credential.website }}</H3></a>
            <ul>
                <li> Username: {{ credential.username }}</li>
                <li>Added on:  {{ credential.added_on }}</li>
            </ul>
            <br>
        {% endfor %}
{% endblock %}