{% extends 'base.html' %}

{% block pagetitle %}
    Password Detail
{% endblock %}

{% block title %}
    <h1>Password Detail</h1>
{% endblock %}

{% block content %}
   <h3>Password For {{ password.website}} </h3> 
   <ul>
        <li>Username: {{ password.username }}</li>
        {% if password.website.name %}
            <li>Website name: {{ password.website.name }}</li>
        {% endif %}
        <li>Website URL: {{ password.website.url }}</li>
        <li>Added on: {{ password.added_on }}</li>
        {% if password.modified_on %}
            <li>Last mofified: {{ password.modified_on }}</li>
        {% endif %}
   </ul>
{% endblock %}